<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>File Upload</title>

<style>

body{
    font-family: Arial;
}

.container{
    display:flex;
    gap:40px;
}

.left{
    flex:1;
}

.right{
    width:350px;
    border-left:1px solid #ccc;
    padding-left:20px;
}

.request-card{
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
    border-radius:6px;
}

</style>
</head>

<body>

<div class="container">

<div class="left">

<h2>Upload your file</h2>

<form id="uploadForm">

<label>Select File:</label>
<input type="file" name="user_file" required>
<br><br>

<label>Options:</label><br>

<input type="checkbox" name="option1" value="true"> Option 1<br>
<input type="checkbox" name="option2" value="true"> Option 2<br>
<input type="checkbox" name="option3" value="true"> Option 3<br>
<input type="checkbox" name="option4" value="true"> Option 4<br>

<br>

<button type="submit">Submit</button>

</form>

<h4 id="statusMessage"></h4>

</div>


<div class="right">

<h3>Requests</h3>

<div id="requestList"></div>

</div>

</div>



<script>

let polling = {}

document.getElementById("uploadForm").addEventListener("submit", async function(event){

    event.preventDefault()

    document.getElementById("statusMessage").innerText="Uploading..."

    let formData = new FormData(this)

    let response = await fetch("/upload",{
        method:"POST",
        body:formData
    })

    let result = await response.json()

    document.getElementById("statusMessage").innerText=result.message

    const filename = formData.get("user_file").name

    addRequest(result.request_id,filename)

    startPolling(result.request_id)

})


function addRequest(id,filename){

    const list=document.getElementById("requestList")

    const card=document.createElement("div")

    card.className="request-card"
    card.id="req-"+id

    card.innerHTML=`
        <b>${filename}</b><br>
        id: ${id}<br>
        status: <span class="status">queued</span><br>
        progress: <span class="progress">0/0</span>
    `

    list.prepend(card)

}



async function fetchStatus(request_id){

    const res = await fetch(`/requests/${request_id}/status`)

    if(!res.ok) return

    const data = await res.json()

    const card = document.getElementById("req-"+request_id)

    if(!card) return

    card.querySelector(".status").innerText=data.status

    card.querySelector(".progress").innerText=
        data.completed_jobs + "/" + data.total_jobs

    if(data.status=="completed" || data.status=="failed"){
        clearInterval(polling[request_id])
    }

}



function startPolling(id){

    fetchStatus(id)

    polling[id]=setInterval(()=>{
        fetchStatus(id)
    },5000)

}

</script>

</body>
</html>